# to run AI LLM:
# OLLAMA_FLASH_ATTENTION="1" OLLAMA_KV_CACHE_TYPE="q8_0" ollama serve

requests
yt-dlp

# MoviePy 1.x is required because your code uses moviepy.config.change_settings
moviepy==1.0.3
imageio-ffmpeg
ffmpeg-python

elevenlabs
trafilatura
openai-whisper
torch
torchaudio
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
Pillow==9.5.0